<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <div class="div-logo">
      <img src="../../assets/logo/iziclock-logo.png" alt="Logo" class="logo">
    </div>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-calendars-management *ngIf="loggedIn==true"></app-calendars-management>
  <app-login-google *ngIf="loggedIn==false"></app-login-google>
</ion-content>
