<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <div class="div-logo">
      <img src="../../assets/logo/iziclock-logo.png" alt="Logo" class="logo">
    </div>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <form (ngSubmit)="onSubmit()" [formGroup]="alarmForm">
    <ion-item>
      <ion-label position="floating">Nom <span style="color: red;">*</span></ion-label>
      <ion-input name="name" formControlName="name"></ion-input>
    </ion-item>
    <div *ngIf="name?.invalid" class="error-message">
      <div *ngIf="name?.errors?.['required']">Le champ "Nom" est obligatoire.</div>
      <div *ngIf="name?.errors?.['maxlength']">Le champ "Nom" ne doit pas dépasser 50 caractères.</div>
    </div>
    <ion-item>
      <ion-label>Lieu de départ
        <app-autocomplete-address name="locationStart" (placeSelected)="alarmDetails.LocationStart" formControlName="locationStart"></app-autocomplete-address>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lieu de destination
        <app-autocomplete-address name="locationEnd" (placeSelected)="alarmDetails.LocationEnd" formControlName="locationEnd"></app-autocomplete-address>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date de sonnerie</ion-label>
      <ion-datetime name="ringDate" [min]="minDate" formControlName="ringDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Temps de préparation <span style="color: red;">*</span></ion-label>
      <ion-input type="number" name="preparationTime" formControlName="preparationTime"></ion-input>
    </ion-item>
    <ion-segment name="transport" formControlName="transport" color="primary">
      <ion-segment-button value="drive">
        <ion-icon name="car"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="approximated_transit">
        <ion-icon name="subway"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="bicycle">
        <ion-icon name="bicycle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="walk">
        <ion-icon name="walk"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <ion-item>
      <ion-label>Active</ion-label>
      <ion-toggle name="active" formControlName="active"></ion-toggle>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!alarmForm.valid">Enregistrer</ion-button>
  </form>
</ion-content>