<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/ringtones">
        <img src="../../assets/icon/ringtone.png" alt="Ringtones" class="ringtone-icon">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button routerLink="/settings">
        <img src="../../assets/icon/setting.png" alt="Settings" class="setting-icon">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/calendars">
        <img src="../../assets/icon/calendar.png" alt="Calendars" class="calendar-icon">
      </ion-button>
    </ion-buttons>
    <div class="div-logo">
      <img src="../../assets/logo/iziclock-logo.png" alt="Logo" class="logo">
    </div>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-alarms-list></app-alarms-list>
</ion-content>