<ion-header>
  <ion-toolbar>
    <div class="div-logo">
      <img src="../../assets/iziclock_logo.png" alt="Logo" class="logo">
    </div>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Sonneries</h1>
  <div class="audio-container">
    <audio #audioPlayer src="https://www.iziclock.be/ringtones/default-ringtone.mp3"></audio>
    <button (click)="toggleAudio(audioPlayer)" class="play-button">
      <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
    </button>
    <span>Alarme par défaut</span>
  </div>
</ion-content>
