<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <div class="div-logo">
      <img src="../../assets/logo/iziclock-logo.png" alt="Logo" class="logo">
    </div>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="component">
    <app-default-ringtones></app-default-ringtones>
  </div>
  <div class="component">
    <app-ringtones-list></app-ringtones-list>
  </div>
  <div>
    <app-add-ringtone></app-add-ringtone>
  </div>
</ion-content>
