h1 {
    margin-left: 20px;
    font-weight: bold;
}

.audio-container {
    display: flex; 
    align-items: center; 
    margin: 15px 20px; 
}

.play-button {
    background-color: darkblue; 
    border-radius: 50%; 
    padding: 10px; 
    color: white; 
    margin-right: 15px; 
    font-size: 20px;
    width: 40px;
    height: 40px;
}

.play-button:hover {
    background-color: #007bff; 
}

span {
    font-size: 20px; 
    color: black; 
}