<h1>Ajouter une sonnerie</h1>
<div>
  <label for="fileUpload">Choisir un fichier audio</label>
  <input id="fileUpload" type="file" accept="audio/*" (change)="onFileSelected($event)">
  <span *ngIf="selectedFileName" class="file-name">{{ selectedFileName }}</span>
  <button (click)="uploadRingtone()">Ajouter</button>
  <!-- <div *ngIf="ringtone">
    <audio #audioPlayer [src]="ringtone"></audio>
    <button (click)="toggleAudio(audioPlayer)" class="play-button">
      <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
    </button>
  </div> -->
</div>