<div *ngIf="alarmDetails" class="alarm-details">
  <h2>{{ alarmDetails.name }}</h2>
  <div class="detail">
    <span class="label">Lieu de départ :</span>
    <span class="value">{{ alarmDetails.locationStart }}</span>
  </div>
  <div class="detail">
    <span class="label">Lieu de déstination :</span>
    <span class="value">{{ alarmDetails.locationEnd }}</span>
  </div>
  <div class="detail">
    <span class="label">L'alarme est active ? :</span>
    <span class="value">{{ alarmDetails.active ? 'Oui' : 'Non' }}</span>
  </div>
  <div class="detail">
    <span class="label">Sonne le :</span>
    <span class="value">{{ alarmDetails.ringDate | date:'fullDate' }} à {{ alarmDetails.ringDate | date:'shortTime' }}</span>
  </div>
  <!-- Ajoutez d'autres détails de l'alarme ici -->
</div>