.active-alarm {
    background-color: #F0F8FF; /* Blanc cassé */
    border: none;
}

.inactive-alarm {
    background-color: #A9A9A9; /* Gris clair */
    border: none;
}

ion-card {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px; /* Ajoute un peu de courbure aux coins */
}

.toggle-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ion-card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

ion-card-subtitle {
    font-size: 1rem;
    color: grey;
}

.date-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.date-navigation button {
    background-color: transparent;
    color: darkblue;
    font-size: 30px;
    margin: 0 30px;
}

.date-navigation span {
    text-align: center;
}

button:disabled {
    ion-icon {
        color: grey;
    }
}